.topic {
    display: grid;
    gap: 10px 0;
    grid-template-areas: "topic-image topic-image topic-image" "tag . comment-share-button" "title title title""text text text" "topic-autor topic-autor .";
}

.topic-image {
    grid-area: topic-image;
    width: 100%;
    object-fit: cover;
}

.topic .comment-share-button {
    justify-self: end;
}

.topic-autor {
    grid-area: topic-autor;
    color: #918e8b;
    font-size: 16px;
    font-style: italic;
}

@media (max-width: 767px) {
    .topic .comment-share-button {
        flex-direction: row;
    }

    .topic .title {
        text-align: center;
    }
}
