.hot-topics {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 30px;
    justify-items: center;
    grid-template-areas: ". big-title ."". topics-list ."". load-more ."". more-topics-pages ."". line .";
}

.hot-topics .big-title {
    margin-top: 30px;
}

.hot-topics .line {
    margin: 0 0 30px;
}

@media (min-width: 1024px) {
    .hot-topics line {
        margin: 20px 0 50px;
    }
}

@media (min-width: 1200px) {
    .hot-topics line {
        margin: 50px 0 70px;
    }
}