// Header styles
.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0 30px;
    align-items: center;
    position: relative;
    .line {
        grid-column: 1 / 4
    }
    background-color: #dedad9;
    background-image: radial-gradient(#bebebe32 0.2px, #dedad928 0.75px);
    background-size: 3px 3px;
}

// Logo styles
.logo-date-container {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.logo-image {
    position: relative;
    width: 130px;
    height: 20px;
    a {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    image {
        object-fit: contain;
    }
}
.logo-date {
    cursor: default;
}

// menu styles
.menu-container {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navigation a {
        color: #2a2928;
        transition: border-bottom 0.3s ease-in-out;
        border-bottom: 2px solid transparent;
        &:hover {
            border-bottom: 2px solid #2a2928;
        }
    }
}

@media (max-width: 767px){
    .menu-container {
        flex-direction: row-reverse;
    }
}

@media (max-width: 1023px) {
    .menu-container .follow-us-container {
        display: none;
    }
}

// Navigation styles

