//Home-Slider
.home-slider-container {
    min-height: 100vh;
    position: relative;
    background-image: url("/images/slider-bg.png");
    background-size: cover;
    display: grid;
    grid-template-columns: auto auto minmax(auto, 1fr) auto auto;
    grid-column-gap: 30px;
    overflow: hidden;

    .home-slider {
        grid-column: 3;
        grid-row: 2;
        width: 100%;
        min-width: 130px;
        .slider-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
        }
    }
}
.slider-number {
    grid-row: 2/3;
    align-self: center;
    color: white;
    position: absolute;
    font-size: 150px;
    font-weight: bold;
    cursor: default;
    z-index: 0;
    line-height: 1;
}

.slider-number-prev {
    grid-column: 1;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    left: -100px;
}

.slider-number-next {
    grid-column: 5;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    right: -60px;
}

.slider-button {
    position: relative;
    width: 45px;
    height: 45px;
    color: #fffc8f;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #fffc8f;
    border-radius: 50%;
    align-self: center;
    box-sizing: border-box;
    grid-row: 2;
    cursor: pointer;
    z-index: 10;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    &::after {
        content: "";
        height: 2px;
        width: 60px;
        background-color: #fffc8f;
        position: absolute;
        top: 22px;
    }
    &:hover {
        border-color: #bfbe87;
        color: #bfbe87;
        &::after {
            background-color: #bfbe87;
        }
    }
}

.slider-button-prev {
    grid-column: 2;
    &::after {
        left: 35px;
    }
}

.slider-button-next {
    grid-column: 4;
    &::after {
        right: 35px;
    }
}

@media (max-width: 767px) {
    .slider-button {
        width: 30px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
        &::after {
            width: 30px;
            top: 12px;
        }
    }

    .slider-button-prev::after {
        left: 21px;
    }

    .slider-button-next::after {
        right: 21px;
    }
}

@media (min-width: 768px) {
    .slider-item-number {
        padding: 100px 0 30px;
        font-size: 25px;
    }

    .slider-number {
        font-size: 250px;
    }

    .slider-number-prev {
        left: -160px;
    }

    .slider-number-next {
        right: -100px;
    }
}

@media (min-width: 1024px) {
    .home-slider-container {
        grid-template-columns: minmax(auto, 70px) auto minmax(auto, 1fr) auto minmax(auto, 70px);
    }
    .slider-item-number {
        padding: 110px 0 35px;
    }

    .slider-number {
        font-size: 300px;
    }

    .slider-number-prev {
        left: -190px;
    }

    .slider-number-next {
        right: -120px;
    }
}

@media (min-width: 1200px) {
    .slider-item-number {
        padding: 130px 0 45px;
        font-size: 30px;
    }

    .slider-number {
        font-size: 342.53px;
    }

    .slider-number-prev {
        left: -220px;
    }

    .slider-number-next {
        right: -140px;
    }
}