.main {
    display: grid;
    grid-template-areas: "main-article""full-sound-player-img""sound-player";
}

@media (min-width: 768px) {
    .main {
        grid-template-columns: 4fr 3fr;
        grid-template-areas: "main-article full-sound-player-img""main-article sound-player";
    }
}