/* [project]/src/styles/slider.scss.css [app-client] (css) */
.home-slider-container {
  grid-column-gap: 30px;
  background-image: url("/images/slider-bg.png");
  background-size: cover;
  grid-template-rows: minmax(120px, auto) minmax(600px, 1fr) minmax(70px, auto);
  grid-template-columns: auto auto minmax(auto, 1fr) auto auto;
  height: 100vh;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: grid;
  position: relative;
  overflow: hidden;
}

.home-slider-container .home-slider {
  grid-area: 2 / 3;
  width: 100%;
  min-width: 130px;
}

.home-slider-container .home-slider .slider-button {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider-item-number {
  text-align: center;
  grid-area: 1 / 3;
  align-self: end;
}

.slider-number {
  color: #fff;
  cursor: default;
  z-index: 0;
  grid-row: 2 / 3;
  align-self: center;
  font-size: 150px;
  font-weight: bold;
  line-height: 1;
  position: absolute;
}

.slider-number-prev {
  writing-mode: vertical-lr;
  grid-column: 1;
  left: -100px;
  transform: rotate(180deg);
}

.slider-number-next {
  writing-mode: vertical-lr;
  grid-column: 5;
  right: -60px;
  transform: rotate(180deg);
}

.slider-button {
  color: #fffc8f;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #fffc8f;
  border-radius: 50%;
  grid-row: 2;
  align-self: center;
  width: 45px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  line-height: 45px;
  position: relative;
}

.slider-button:after {
  content: "";
  background-color: #fffc8f;
  width: 60px;
  height: 2px;
  position: absolute;
  top: 22px;
}

.slider-button:hover {
  color: #bfbe87;
  border-color: #bfbe87;
}

.slider-button:hover:after {
  background-color: #bfbe87;
}

.slider-button-prev {
  grid-column: 2;
}

.slider-button-prev:after {
  left: 35px;
}

.slider-button-next {
  grid-column: 4;
}

.slider-button-next:after {
  right: 35px;
}

@media (max-width: 767px) {
  .slider-button {
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
  }

  .slider-button:after {
    width: 30px;
    top: 12px;
  }

  .slider-button-prev:after {
    left: 21px;
  }

  .slider-button-next:after {
    right: 21px;
  }
}

@media (min-width: 768px) {
  .slider-number {
    font-size: 250px;
  }

  .slider-number-prev {
    left: -160px;
  }

  .slider-number-next {
    right: -100px;
  }
}

@media (min-width: 1024px) {
  .home-slider-container {
    grid-template-columns: minmax(auto, 70px) auto minmax(auto, 1fr) auto minmax(auto, 70px);
  }

  .slider-number {
    font-size: 300px;
  }

  .slider-number-prev {
    left: -190px;
  }

  .slider-number-next {
    right: -120px;
  }
}

@media (min-width: 1200px) {
  .slider-number {
    font-size: 342.53px;
  }

  .slider-number-prev {
    left: -220px;
  }

  .slider-number-next {
    right: -140px;
  }
}

.slider-item-title {
  text-align: center;
  grid-area: 2 / 3;
  justify-self: stretch;
  padding: 25px 0;
}

.events {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, .54);
  grid-area: 3 / 3;
  place-self: center;
  padding: 45px 0 85px;
}

.event-name {
  text-align: center;
  font-weight: 500;
}

.event-date {
  text-align: center;
  margin-top: 7px;
}

.slider-read-more {
  grid-area: 3 / 3;
  place-self: flex-start center;
}

.slider-read-more svg {
  fill: #fffc8f;
}

.slider-read-more:hover svg {
  fill: #bfbe87;
}

/*# sourceMappingURL=src_styles_slider_scss_css_e59ae46c._.single.css.map*/