.article {
    height: 270px;
    width: 270px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article .comment-share-button {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -10px;
    right: -10px;
    gap: 10px;
    transform: rotate(-90deg);
}

.article .comment-share-button button {
    transform: rotate(90deg);
}

.article::after {
    opacity: 0;
    visibility: hidden;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #f2eae6;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.article:hover {
    background-color: #f2eae6;
    border-radius: 50%;
}

.article:hover .comment-share-button,
.article:hover::after {
    opacity: 1;
    visibility: visible;
}

.article-data {
    grid-area: article-data;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 767px) {
    .article .comment-share-button {
        flex-direction: row;
    }
}