.search input {
    width: 130px;
    background: none;
}

.search {
    display: flex;
    align-items: center;
}

.search button {
    cursor: pointer;
}

@media (max-width: 767px) {
    .menu .search {
        flex-direction: row-reverse;
        gap: 10px;
    }
}