.subscribe {
    display: grid;
    justify-items: center;
    grid-template-columns: auto 1fr auto;
    gap: 0 30px;
}

.subscribe .big-title {
    grid-column: 2/3;
    grid-row: 1/2;
}

.subscribe form {
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 6px;
    margin: 20px 0;
    background-color: white;
    border-radius: 25px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.subscribe form button {
    background-color: #f2eae6;
    height: 100%;
    padding: 0 18px;
    border-radius: 25px;
    font-family: "Proza Libre", sans-serif;
}

.subscribe form button:hover {
    background-color: #f0d7cd;
}

.subscribe form input {
    margin-left: 15px;
    font-family: "Proza Libre", sans-serif;
    width: 150px;
}

.subscribe form input::placeholder {
    color: #cac5cb;
}

@media (min-width: 768px) {
    .subscribe form {
        margin: 20px 0 45px;
        width: 570px;
    }

    .subscribe form input {
        width: 250px;
    }
}

@media (min-width: 1024px) {
    .subscribe form {
        margin: 20px 0 70px;
    }
}

@media (min-width: 1200px) {
    .subscribe form {
        margin: 20px 0 100px;
    }
}