.main-article {
    grid-area: main-article;
    background: #f2eae6;
    display: grid;
    grid-template-columns: auto auto minmax(auto, 1fr) auto;
    grid-template-rows: auto auto auto auto;
    position: relative;
}

.main-article .tag {
    grid-column: 2/3;
    grid-row: 1/2;
}

.main-article .comment-share-button {
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: end;
}

.main-article .big-title {
    grid-column: 2/5;
    grid-row: 2/3;
}

.main-article .text {
    grid-column: 2/5;
    grid-row: 3/4;
    margin-top: 55px;
}

.main-article .read-more {
    grid-column: 2/3;
    grid-row: 4/5;
    margin-top: 100px;
}

.paginator {
    writing-mode: vertical-lr;
    grid-column: 1/2;
    grid-row: 3/5;
    padding: 30px 5px;
    transform: rotate(180deg);
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .main-article {
        padding: 20px 5px 20px 0;
    }

    .main-article .big-title {
        text-align: center;
    }

    .main-article .text {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .main-article {
        padding: 100px 40px 100px 0;
    }

    .paginator {
        padding: 40px;
    }
}