.navigation a {
    text-decoration: none;
}

.footer-menu .navigation a {
    color: #918e8b;
}

.footer-menu .navigation a:hover {
    color: #2a2928;
}

@media (max-width: 767px) {
    .menu .navigation {
        display: none;
    }

    .footer .navigation {
        display: none;
    }
}

@media (min-width: 768px) {
    .navigation {
        display: flex;
        gap: 20px;
    }



}

@media (min-width: 1200px) {
    .navigation {
        gap: 40px;
    }
}